html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
section{
    display: flex;
}
img{
    height: auto;
    padding-left:10px;
}
#image{
    width: 80%;
    margin: 0 5% 0 15%;
    padding: 0;
}
p{
    font-size: 12pt;
    color: black;
    padding-left: 10px;
}
#pagebreak{
    page-break-before: always;
}

#pagebreakauto{
    page-break-before: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
tr {
    border: 1px solid #000000;
    text-align: left;
}