html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
section{
    display: flex;
}
img{
    width: 100%;
    height: auto;
}
#image{
    width: 80%;
    margin: 0 5% 0 15%;
    padding: 0;
}
p{
    font-size: 12pt;
    color: black;
}
#pagebreak{
    page-break-before: always;
}

#pagebreakauto{
    page-break-before: auto;
}